body {
  margin: 0;
  background: #121212;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  visibility: hidden;
}

#loader {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #121212;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  z-index: 1000;
}

header {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  padding: 1rem;
  background: #1e1e1e;
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.categoria {
  text-align: center;
  width: 100px;
  position: absolute;
  top: 75px;
  left: -25px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  background: #f00;
  color: #fff;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 4px 20px;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.categoria.OVA { background: #d63384; }
.categoria.SERIE { background: #20c997; }
.categoria.PELI { background: #fd7e14; }

.card {
  position: relative;
  max-width: 240px;
  background: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px #000;
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card h3 {
  padding: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  z-index: 999;
}

.modal-content {
  background: #1e1e1e;
  max-width: 900px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
}

.modal-content h2 {
  padding: 0 0 0 75px;
  margin-top: 0;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal .url {
    display: none;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: center;
}

.tags span {
  background: linear-gradient(135deg, #ff7eb9, #ff758c);
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  font-family: 'Mochiy Pop One', sans-serif;
  transition: all 0.3s ease;
  cursor: default;
  white-space: nowrap;
}

.tags span:hover {
  transform: scale(1.08);
  background: linear-gradient(135deg, #ff758c, #ff7eb9);
  box-shadow: 0 0 10px rgba(255, 120, 150, 0.6);
}
